*.exe
source/debug.log
source/lib/
source/var/

data/editor
data/sound/bak
data/sound/maybe
data/sound/recorded
data/sound/splice
data/sound/msplice
data/sound/mptm/*.bak

data/gfx/tmp.bmp

*mptm.autosave.*
autosave.ld2

data/gfx/pp256

source/test.bas

